@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.CoursesForTeacherModel
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Courses</h4>
<hr />

<partial name="_TaughtSubjectForTeacherUserPartial" model="Model" />

@section scripts{
    <script src="~/js/taughtSubjectsDataTable.js"></script>
}
