@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.CoursesForTeacherModel
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

@section scripts{
    <script src="~/js/dataTable.js"></script>
}

<h4 class="row align-input-center add-top-margin">Courses</h4>
<hr/>

<partial name="_TaughtSubjectPartial" model="Model"/>

