@page "{handler?}"
@model TeacherEvaluation.Application.Pages.TaughtSubjects.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Assign Subject to Teacher</h4>
<hr />
<div class="jumbotron taught-subject-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="Department"></label><br />
                <select id="department-field" asp-for="Department" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.Department>()"
                        class="form-control" onchange="get_teachers_by_department()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger" />
            </div>
            <div class="col-md-6">
                <label asp-for="TeacherId" class="control-label"></label><br />
                <select id="teacher-field" asp-for="TeacherId" class="form-control" onchange="subject_assignment_is_possible()">
                    <option>Select teacher</option>
                </select>
                <span asp-validation-for="TeacherId" class="text-danger" />
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="SubjectId" class="control-label"></label><br />
                <select id="subject-field" asp-for="SubjectId" asp-items="@Model.Subjects" class="form-control" onchange="subject_assignment_is_possible()">
                    <option>Select subject</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger" />
            </div>
            <div class="col-md-6">
                <label asp-for="Type"></label><br />
                <select id="type-field" asp-for="Type" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.TaughtSubjectType>()"
                        class="form-control" onchange="subject_assignment_is_possible()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-6">
                <label class="control-label">Info</label>
                <input id="info-field" class="form-control" disabled />
            </div>
            <div class="col-md-6">
                <br />
                <input id="submit-button" type="submit" value="Assign" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/subjectAssignment.js"></script>
    <script src="~/js/teachers.js"></script>
}

