@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h3 class="row align-input-center add-top-margin">Are you sure you want to delete this?</h3>
<hr />

<div class="jumbotron taught-subject-jumbotron">
    <partial name="_TaughtSubjectDetailsPartial" model="Model" />
    <form method="post">
        <input type="hidden" asp-for="TaughtSubjectId" />
        <input type="submit" value="Delete" class="btn btn-danger form-control" />
    </form>
</div>
