@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.InProgressLaboratoriesModel
@{
    ViewData["Title"] = "Laboratories";
    Layout = "~/Pages/Shared/_StudentLayout.cshtml";
}

@section scripts{
    <script src="~/js/dataTable.js"></script>
}

<h4 class="row align-input-center add-top-margin">In Progress Laboratories</h4>
<hr/>
<div class="add-margin-bottom">
    <table id="taught-subjects-index" class="table table-dark table-striped table-bordered set-max-width">
        <thead>
            <tr>
                <th>
                    Subject Title
                </th>
                <th>
                    Number Of Credits
                </th>
                <th>
                    Teacher
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TaughtSubjects)
            {
                var teacherName = item.Teacher.User.LastName + " " + item.Teacher.User.FathersInitial + " " + item.Teacher.User.FirstName;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.NumberOfCredits)
                    </td>
                    <td>
                        @teacherName
                    </td>
                    <td>
                        <a asp-page="/Attendances/AttendancesForSubject" asp-route-id="@item.Id">Attendances</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

