@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.InProgressLaboratoriesModel
@{
    ViewData["Title"] = "Laboratories";
    Layout = "~/Pages/Shared/_StudentLayout.cshtml";
}

@section scripts{
    <script src="~/js/dataTable.js"></script>
}

<h4 class="row align-input-center add-top-margin">In Progress Laboratories</h4>
<hr/>
<partial name="_TaughtSubjectPartial" model="Model" />