@page
@model TeacherEvaluation.Application.Pages.TaughtSubjects.ViewByCriteriaModel
@{
    ViewData["Title"] = "Taught Subjects";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">View Taught Subjects by Criteria</h4>
<hr />

<div class="row align-input-center">
    <div class="jumbotron search-taught-subject-jumbotron">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-row">
                <div class="col-md-6">
                    <label asp-for="Department"></label><br />
                    <select asp-for="Department" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.Department>()"
                            class="form-control">
                        <option selected="selected">Please select</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger" />
                </div>
            </div>
            <div class="row my-row">
                <div class="col-md-6">
                    <label asp-for="Type">Taught Subject Type</label><br />
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.TaughtSubjectType>()"
                            class="form-control">
                        <option selected="selected">Please select</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger" />
                </div>
            </div>
            <div class="row my-row">
                <div class="col-md-6">
                    <input type="submit" value="Search" class="btn btn-dark form-control add-margin-top-35" />
                </div>
            </div>
        </form>
    </div>
</div>


@if (Model.TableIsVisible)
{
    <partial name="_TaughtSubjectPartial" model="Model" />
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/dataTable.js"></script>
}