@page "{id}"
@model TeacherEvaluation.Application.Pages.Subjects.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Edit Subject</h4>
<hr />
<div class="jumbotron subject-jumbotron">
    <form method="post">
        <input type="hidden" asp-for="SubjectId" />
        <partial name="_SubjectPartial" model="Model" />
    </form>
    <div>
        <br />
        <h5><a asp-page="./Index">Back</a></h5>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/studyDomains.js"></script>
    <script src="~/js/specializations.js"></script>
}
