@page "{id}"
@model TeacherEvaluation.Application.Pages.Subjects.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">Edit Subject</h4>
<hr />
<div class="jumbotron subject-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="SubjectId" />
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="SubjectName" class="control-label"></label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="NumberOfCredits" class="control-label"></label>
                <input asp-for="NumberOfCredits" class="form-control" />
                <span asp-validation-for="NumberOfCredits" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Save" class="btn btn-dark form-control" id="form-button" />
            </div>
        </div>
    </form>
    <div>
        <br />
        <h5><a asp-page="./Index">Back</a></h5>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
