@page
@model TeacherEvaluation.Application.Pages.Errors.NoEvaluationFormModel
@{
    ViewData["Title"] = "NoEvaluationForm";
    Layout = "~/Pages/Shared/_StudentLayout.cshtml";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h2>Oops! No evaluation form is available for now</h2>
        <p>As soon as the Dean will create an evaluation form, you will be able to evaluate your teachers. </p>
        <h4>Have a nice day!</h4>
    </div>
</div>