@page
@model TeacherEvaluation.Application.Pages.Teachers.ViewByDepartmentModel

@{
    ViewData["Title"] = "Teachers";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">View Teachers by Department</h4>
<hr />

<div class="jumbotron search-teachers-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-6">
                <label asp-for="Department"></label><br />
                <select asp-for="Department" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.Department>()"
                        class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Department" class="text-danger" />
            </div>
        </div>
        <br />
        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Search" class="btn btn-dark form-control" />
            </div>
        </div>

    </form>
</div>

@if (Model.TableIsVisible)
{
    <partial name="_TeachersPartial" model="Model" />
    <br />
    <br />
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/teachersDataTable.js"></script>
}
