<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/jpg" href="~/images/TeacherEvaluationLogo.png" />
    <title>@ViewData["Title"] - TeacherEvaluation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/accessDenied.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fixed-bottom text-muted text-white">
        <br />
        <div class="container">
            &copy; 2020 - Teacher Evaluation
        </div>
        <br />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/accessDenied.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

