<footer class="border-top footer text-dark" style="text-align:center;">
    <div class="container">
        &copy;
        <script>document.write(new Date().getFullYear())</script>  - Teacher Evaluation
    </div>
    <br />
</footer>