@page "{handler?}"
@model TeacherEvaluation.Application.Pages.Attendances.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Add Attendance</h4>
<hr />
<div class="jumbotron attendance-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-5">
                <label asp-for="SubjectId" class="control-label">Subject Title</label><br />
                <select id="subject" asp-for="SubjectId" asp-items="@Model.Subjects" class="form-control" onchange="get_taught_subject_types_by_subject()">
                    <option>Select subject</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger" />
            </div>
            <div class="col-md-5">
                <label asp-for="Type">Taught Subject Type</label><br />
                <select id="type" asp-for="Type" class="form-control" onclick="get_enrolled_students()">
                    <option>Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-5">
                <label asp-for="StudentId" class="control-label">Student</label><br />
                <select id="student" asp-for="StudentId" class="form-control">
                    <option>Select student</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger" />
            </div>
            <div class="col-md-5">
                <label asp-for="DateTime" class="control-label">Date</label>
                <input asp-for="DateTime" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="mm-dd-yyyy" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-row">
            <br />
            <input type="submit" value="Save" class="btn btn-dark set-width-dropdown" />
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/taughtSubjects.js"></script>
    <script src="~/js/enrollments.js"></script>
}