@page
@model TeacherEvaluation.Application.Pages.Account.ChangePasswordModel

@if (Model.IsAdministrator)
{
    Layout = "_AdminLayout";
}
else if (Model.IsDean)
{
    Layout = "_DeanLayout";
}
else if (Model.IsStudent)
{
    Layout = "_StudentLayout";
}
else if (Model.IsTeacher)
{
    Layout = "_TeacherLayout";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/passwordValidation.js"></script>
}
<div class="container-fluid">
    <br /><br />
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <label asp-for="CurrentPassword">Current Password:</label><br />
                <input class="form-control" id="CurrentPassword" asp-for="CurrentPassword">
                <span asp-validation-for="CurrentPassword"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label asp-for="NewPassword">New Password</label><br />
                <input class="form-control" id="psw" asp-for="NewPassword">
                <span asp-validation-for="NewPassword"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label asp-for="ConfirmedPassword">Confirm New Password</label><br />
                <input class="form-control" id="ConfirmPassword" asp-for="ConfirmedPassword">
                <span asp-validation-for="ConfirmedPassword"></span>
            </div>
        </div>
        @if (Model.ErrorMessages != null)
        {
            <div>
                @foreach (var error in Model.ErrorMessages)
                {
                    <span class="field-validation-error">@error</span>
                }
            </div>
        }
        <br /><br />
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Change password" class="btn btn-dark" />
            </div>
            <div class="message-password" id="message">
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="specialChar" class="invalid">A <b>special character</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>

        </div>
    </form>
</div>

