@page
@model TeacherEvaluation.Application.Pages.Account.ChangePasswordModel

@if (User.IsInRole("Administrator"))
{
    Layout = "_AdminLayout";
}
else if (User.IsInRole("Dean"))
{
    Layout = "_DeanLayout";
}
else if (User.IsInRole("Student"))
{
    Layout = "_StudentLayout";
}
else if (User.IsInRole("Teacher"))
{
    Layout = "_TeacherLayout";
}

<h4 class="row align-input-center add-top-margin">Change Password</h4>
<hr />

<div class="jumbotron change-password-jumbotron">
    <form method="post">
        <div class="row my-row">
            <div class="col-md-5">
                <label asp-for="CurrentPassword"></label><br />
                <input class="form-control" id="CurrentPassword" asp-for="CurrentPassword">
                <span asp-validation-for="CurrentPassword"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="NewPassword"></label><br />
                <input class="form-control" id="psw" asp-for="NewPassword">
                <span asp-validation-for="NewPassword"></span>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-5">
                <label asp-for="ConfirmedPassword">Confirm New Password</label><br />
                <input class="form-control" id="ConfirmPassword" asp-for="ConfirmedPassword">
                <span asp-validation-for="ConfirmedPassword"></span>
            </div>
            <div class="col-md-5">
                <br />
                <input type="submit" value="Change password" class="btn btn-dark form-control" />
            </div>
        </div>
        @if (Model.ErrorMessages != null)
        {
            <div>
                @foreach (var error in Model.ErrorMessages)
                {
                    <span class="field-validation-error">@error</span>
                }
            </div>
        }
        <div class="row my-row">

            <div class="message-password" id="message">
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="specialChar" class="invalid">A <b>special character</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
        </div>
    </form>
</div>


@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/passwordValidation.js"></script>
}
