@page
@model TeacherEvaluation.Application.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="email-confirmation">
    <h2>@ViewData["Title"]</h2>
    <div class="p-110">
        <p>
            Thank you for confirming your email.
        </p><br />
        <p>
            You should be automatically redirected in <span id="seconds">3</span> seconds.
        </p>
    </div>
    @if (Model.ErrorMessages != null)
    {
        <div>
            @foreach (var error in Model.ErrorMessages)
            {
                <span class="field-validation-error">@error</span>
            }
        </div>
    }
</div>

@section scripts{
    <script src="~/js/redirectCountdown.js"></script>
    <script>
        countdownTimer();
    </script>
}
