@page
@model TeacherEvaluation.Application.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<h3 class="align-text-center">Login</h3>

<div class="container">
    <form method="post">
        <div class="row align-input-center">
            <div class="col-md-3">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email"></span>
            </div>
        </div>

        <div class="row align-input-center">
            <div class="col-md-3">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password"></span>
            </div>
        </div>

        <div>
            @if (Model.errorMessages != null)
            {
                @foreach (var error in Model.errorMessages)
                {
                    <span class="field-validation-error">@error</span>
                }
            }
        </div>
        <div class="row my-row">
            <div class="col-md-3">
                <button class="btn btn-dark" id="login-button" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>
