@page "{handler?}"
@model TeacherEvaluation.Application.Pages.AllResponses.Responses.OneResponseModel
@if (User.IsInRole("Dean"))
{
    ViewData["Title"] = "Response";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}
else if (User.IsInRole("Teacher"))
{
    ViewData["Title"] = "Response";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

<div class="add-margin-top-35 add-margin-bottom-40" style="background-color: #e9e9e9">
    <div>
        @foreach (var item in Model.QuestionsAndResponses)
        {
            <div class="add-margin-top-35 add-margin-left-45">
                <h5>Q: @item.Key</h5>
                <h6>A: @item.Value</h6>
            </div>
        }
    </div>
    <div class="add-margin-top-35 add-margin-bottom-40">
        @if (User.IsInRole("Dean"))
        {
            <a asp-page="ViewAsDean" asp-route-formId="@Model.FormId"> Back </a>
        }
        else if (User.IsInRole("Teacher"))
        {
            <a asp-page="ViewAsTeacher" asp-route-formId="@Model.FormId"> Back </a>
        }
    </div>
</div>