@page "{handler?}"
@model TeacherEvaluation.Application.Pages.AllResponses.Responses.ViewAsTeacherModel

@{
    ViewData["Title"] = "Responses";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

@section scripts{
    <script src="~/js/responses.js"></script>
    <script src="~/js/taughtSubjects.js"></script>
    <script src="~/js/unavailableData.js"></script>
}

<h3 class="row align-input-center" style="margin-top: 70px;">Select the subject</h3>
<hr />
<input id="teacher-field" type="hidden" asp-for="TeacherId" />

<div class="col-md-4 teacher-dropdown">
    <select id="selected-subject-field" asp-for="SelectedSubjectId" class="form-control"
            onchange="get_responses('@Model.FormId', 'mainElementTeacherLayout')" onclick="update_subjects_drop_down()">
        <option selected disabled hidden>Please select</option>
    </select>
</div>