@page "{handler?}"
@model TeacherEvaluation.Application.Pages.AllResponses.Charts.ViewAsTeacherModel

@{
    ViewData["Title"] = "Charts & Word Cloud";
    Layout = "~/Pages/Shared/_TeacherLayout.cshtml";
}

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/chartsAndTagCloud.js"></script>
    <script src="~/js/taughtSubjects.js"></script>
    <script>
        $(document).ready(function () {
            get_taught_subjects_by_teacher_id();
        });
    </script>
}

<h3 class="row align-input-center" style="margin-top: 70px;">Select the subject</h3>
<hr />
<input id="teacher-field" type="hidden" asp-for="TeacherId" />

<div class="col-md-4">
    <select id="selected-subject-field" asp-for="SelectedSubjectId" class="form-control"
            onchange="get_responses('@Model.FormId', 'mainElementTeacherLayout')">
        <option selected disabled hidden>Please select</option>
    </select>
</div>

<partial name="_ChartsTagCloudPartial" />