@page "{handler?}"
@model TeacherEvaluation.Application.Pages.Grades.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Add Grade</h4>
<hr />
<div class="jumbotron grade-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StudyProgramme">Study Programme</label><br />
                <select id="study-programme" asp-for="StudyProgramme" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.StudyProgramme>()"
                        class="form-control" onclick="get_domains()">
                    <option value="0">Please select</option>
                </select>
                <span asp-validation-for="StudyProgramme" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="StudyDomainId" class="control-label">Study Domain</label><br />
                <select id="domain" asp-for="StudyDomainId" class="form-control" onclick="get_specializations()">
                    <option>Select study domain</option>
                </select>
                <span asp-validation-for="StudyDomainId" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="SpecializationId" class="control-label">Specialization</label><br />
                <select id="specialization" asp-for="SpecializationId" class="form-control"
                        onchange="get_students_by_specialization_and_study_year()">
                    <option>Select specialization</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StudyYear" class="control-label"></label>
                <input id="study-year" asp-for="StudyYear" class="form-control" oninput="get_students_by_specialization_and_study_year()" />
                <span asp-validation-for="StudyYear" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="StudentId" class="control-label">Student Name</label><br />
                <select id="student" asp-for="StudentId" class="form-control" onclick="get_subjects_by_student()">
                    <option>Select student</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="SubjectId" class="control-label">Subject</label><br />
                <select id="subject" asp-for="SubjectId" class="form-control">
                    <option>Select subject</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="Type">Taught Subject Type</label><br />
                <select id="type" asp-for="Type" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.TaughtSubjectType>()"
                        class="form-control" onclick="check_enrollment_existence_by_subject_and_student()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <br />
                <input id="grade-button" type="submit" value="Save" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/studyDomains.js"></script>
    <script src="~/js/specializations.js"></script>
    <script src="~/js/enrollments.js"></script>
    <script src="~/js/subjects.js"></script>
    <script src="~/js/students.js"></script>
}
