@page "{handler?}"
@model TeacherEvaluation.Application.Pages.Grades.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/addGrade.js"></script>
    <script src="~/js/registerOrEditStudent.js"></script>
    <script src="~/js/enrollStudent.js"></script>
}

<h4 class="row align-input-center add-top-margin">Add Grade</h4>
<hr />
<div class="container add-margin-bottom">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="StudyProgramme">Study programme</label><br />
                <select id="study-programme" asp-for="StudyProgramme" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.StudyProgramme>()"
                        class="set-width-dropdown" onclick="get_domains()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StudyProgramme" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="StudyDomainId" class="control-label">Study domain</label><br />
                <select id="domain" asp-for="StudyDomainId" class="form-control set-width-dropdown" onclick="get_specializations()">
                    <option>Select study domain</option>
                </select>
                <span asp-validation-for="StudyDomainId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="SpecializationId" class="control-label">Specialization</label><br />
                <select id="specialization" asp-for="SpecializationId" class="form-control set-width-dropdown" onchange="get_students_by_specialization()">
                    <option>Select specialization</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="StudentId" class="control-label">Student Name</label><br />
                <select id="student" asp-for="StudentId" class="form-control set-width-dropdown" onclick="get_subjects()">
                    <option>Select student</option>
                </select>
                <span asp-validation-for="StudentId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="SubjectId" class="control-label">Subject</label><br />
                <select id="subject" asp-for="SubjectId" class="form-control set-width-dropdown">
                    <option>Select subject</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger" />
            </div>
            <div class="col-md-3">
                <label asp-for="Type">Taught Subject Type</label><br />
                <select id="type" asp-for="Type" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.TaughtSubjectType>()"
                        class="form-control set-width-dropdown" onclick="enrollment_exists()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-3">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control set-width-dropdown" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control set-width-dropdown" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="row my-row">
            <input id="grade-button" type="submit" value="Save" class="btn btn-dark set-width-dropdown" />
        </div>
    </form>
</div>


