@model TeacherEvaluation.Application.Pages.AllResponses.ResponseSearchDataModel

<h3 class="row align-input-center" style="margin-top: 70px;">Select the teacher and the subject</h3>
<hr />
<div class="row my-row">
    <div class="col-md-4">
        <label>Teacher</label>
        <select id="teacher-field" asp-for="TeacherId" asp-items="@Model.Teachers" class="form-control"
                onchange="update()">
            <option selected disabled hidden>Please select</option>
        </select>

        <label class="add-margin-top-35">Subject</label>
        <select id="selected-subject-field" asp-for="SelectedSubjectId" class="form-control"
                onchange=@Model.JSFunctionToBeCalled>
            <option selected disabled hidden>Please select</option>
        </select>
    </div>
</div>
