@model TeacherEvaluation.Application.Pages.Evaluations.Forms.QuestionsWithOptionAnswer.CreateModel

<div class="jumbotron evaluation-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @for (var contor = 0; contor < 10; contor += 2)
        {
            <div class="row my-row">
                <div class="col-md-5">
                    <label>Question @(contor+1)</label>
                    <textarea id="question" asp-for="Questions[contor]" class="form-control" rows="2" cols="50"></textarea>
                    <span asp-validation-for="Questions[contor]"></span>
                </div>
                <div class="col-md-5">
                    <label>Question @(contor+2)</label>
                    <textarea id="question" asp-for="Questions[contor+1]" class="form-control" rows="2" cols="50"></textarea>
                    <span asp-validation-for="Questions[contor+1]"></span>
                </div>
            </div>
        }
        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>

