@page
@model TeacherEvaluation.Application.Pages.Forms.QuestionsWithOptionAnswer.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}

<h1>Create</h1>

