@page "{handler?}"

@model TeacherEvaluation.Application.Pages.EvaluationForms.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}

<div class="jumbotron evaluation-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="EnrollmentState">For enrollment status</label><br />
                <select asp-for="EnrollmentState" asp-items="@Model.EnrollmentStates"
                        class="form-control">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="EnrollmentState" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="NumberOfAttendances">Min number of attendances</label><br />
                <input asp-for="NumberOfAttendances" class="form-control">
                <span asp-validation-for="NumberOfAttendances"></span>
            </div>
        </div>
        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StartDate">Start date</label><br />
                <input asp-for="StartDate" class="form-control">
                <span asp-validation-for="StartDate"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="EndDate">End date</label><br />
                <input asp-for="EndDate" class="form-control">
                <span asp-validation-for="EndDate"></span>
            </div>
        </div>


        @for (var contor = 0; contor < Model.NumberOfQuestions; contor += 2)
        {
            <div class="row my-row">
                <div class="col-md-5">
                    <label>Question @(contor+1)</label>
                    <textarea id="question" asp-for="Questions[contor]" class="form-control" rows="2" cols="50"></textarea>
                    <span asp-validation-for="Questions[contor]"></span>
                </div>
                <div class="col-md-5">
                    <label>Question @(contor+2)</label>
                    <textarea id="question" asp-for="Questions[contor+1]" class="form-control" rows="2" cols="50"></textarea>
                    <span asp-validation-for="Questions[contor+1]"></span>
                </div>
            </div>
        }
        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
