@page "{handler?}"
@model TeacherEvaluation.Application.Pages.EvaluationForms.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Create new evaluation form</h4>
<hr />
<div class="jumbotron evaluation-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="NumberOfAttendances"></label><br />
                <input asp-for="NumberOfAttendances" class="form-control">
                <span asp-validation-for="NumberOfAttendances"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="StartDate"></label><br />
                <input asp-for="StartDate" class="form-control">
                <span asp-validation-for="StartDate"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="EndDate"></label><br />
                <input asp-for="EndDate" class="form-control">
                <span asp-validation-for="EndDate"></span>
            </div>
        </div>

        <div class="row margin-left-85 add-top-margin">
            <h6>Please input likert scale questions(on a 1 to 10 scale)</h6>
        </div>
        @for (var contor = 0; contor < Model.NoLikertQuestions; contor += 1)
        {
            <div class="row my-row">
                <div class="col-md-10">
                    <label>Question @(contor+1)</label>
                    <textarea id="question" asp-for="LikertQuestions[contor]" class="form-control" rows="3" cols="50"
                              required style="resize: none;"></textarea>
                    <span asp-validation-for="LikertQuestions[contor]"></span>
                </div>
            </div>
        }

        <div class="row margin-left-85 add-top-margin">
            <h6>Please input free form questions</h6>
        </div>
        @for (var contor = 0; contor < Model.NoFreeFormQuestions; contor += 1)
        {
            <div class="row my-row">
                <div class="col-md-10">
                    <label>Question @(contor+1)</label>
                    <textarea id="question" asp-for="FreeFormQuestions[contor]" class="form-control" rows="3" cols="50" 
                              required style="resize: none;"></textarea>
                    <span asp-validation-for="FreeFormQuestions[contor]"></span>
                </div>
            </div>
        }

        <div class="row my-row">
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
