@page
@model TeacherEvaluation.Application.Pages.Enrollments.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div>
    <h3 class="row align-input-center add-top-margin">Enrollment Details</h3>
    <hr />
    
    <partial name = "_EnrollmentDetailsPartialLayout" model="Model" /> 
</div>
