@page
@model TeacherEvaluation.Application.Pages.Enrollments.ViewByCriteriaModel
@{
    ViewData["Title"] = "Enrollments";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}


<h4 class="row align-input-center add-top-margin">Search Enrollments</h4>
<hr />
<div class="jumbotron enrollment-jumbotron">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StudyProgramme">Study programme</label><br />
                <select id="study-programme" asp-for="StudyProgramme" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.StudyProgramme>()"
                        class="form-control" onclick="get_domains()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="StudyProgramme" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="StudyDomainId" class="control-label">Study domain</label><br />
                <select id="domain" asp-for="StudyDomainId" class="form-control" onclick="get_specializations()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="StudyDomainId" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="SpecializationId" class="control-label">Specialization</label><br />
                <select id="specialization" asp-for="SpecializationId" class="form-control">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="SpecializationId" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <label asp-for="StudyYear" class="control-label">Study year</label>
                <input asp-for="StudyYear" class="form-control" onchange="get_students_by_specialization_and_study_year()" />
                <span asp-validation-for="StudyYear" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Type">Taught subject type</label><br />
                <select id="type-id-field" asp-for="Type" asp-items="Html.GetEnumSelectList<TeacherEvaluation.Domain.DomainEntities.Enums.TaughtSubjectType>()"
                        class="form-control" onclick="update_enrollment_info()">
                    <option selected disabled hidden>Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
            <div class="col-md-4">
                <label asp-for="EnrollmentState" class="control-label">Enrollment state</label><br />
                <select asp-for="EnrollmentState" asp-items="@Model.EnrollmentStates" class="form-control">
                </select>
                <span asp-validation-for="EnrollmentState" class="text-danger" />
            </div>
        </div>

        <div class="row my-row">
            <div class="col-md-4">
                <input type="submit" value="Search" class="btn btn-dark form-control" />
            </div>
        </div>
    </form>
</div>


@if (Model.DisplayTable)
{
    <partial name="_EnrollmentsPartial" model="Model" />
    <br />
    <br />
}


@section scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/studyDomains.js"></script>
    <script src="~/js/specializations.js"></script>
    <script src="~/js/students.js"></script>
}