#message {
    display: none;
    background: transparent;
    color: #ccc;
    position: relative;
    padding: 15px;
    padding-top: -20px;
}

#message p {
    padding: 0px 20px;
    font-size: 12px;
    margin-left: 40px;
}   

.validField:before {
    position: relative;
    left: -35px;
    content: "✔";
    color: #00ff00;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    color: #ff0000;
}

.message-password {
    color: black !important;
    margin-top: 50px;
}
