.field-validation-error {
    color: red !important;
}

.input-validation-error {
    border: solid 1px red;
}

.my-row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-text-center {
    text-align: center;
}

.set-width-dropdown {
    width: 240px;
}
