.field-validation-error {
    color: red !important;
}

.input-validation-error {
    border: solid 1px red;
}

.my-row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-text-center {
    text-align: center;
}

.set-width-dropdown {
    width: 240px;
}

.align-input-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button {
    width: 100%;
}

.add-margin-bottom {
    margin-bottom: 100px;
}

#userDropdown {
    float: right;
}

.add-top-margin {
    margin-top: 60px;
}

#form-button {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer {
    clear: both;
}

#logo {
    width: 80px;
    height: 58px;
    margin-right: 120px;
}

.username-navbar {
    color: whitesmoke;
    margin-left: 500px;
}

#form-button-with-margin-top {
    width: 100%;
    margin-top: 27px;
}

.set-max-width {
    width: 100%;
}

.login-image {
    margin-bottom: 60px;
    background-image: url("../images/notebook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.add-margin-top-300 {
    margin-top: 300px;
}

.email-confirmation {
    text-align: center;
    margin-top: 300px;
}