.field-validation-error {
    color: red !important;
}

.input-validation-error {
    border: solid 1px red;
}

.my-row {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-text-center {
    text-align: center;
}

.set-width-dropdown {
    width: 240px;
}

.align-input-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-button {
    width: 100%;
}

.add-margin-bottom {
    margin-bottom: 100px;
}

#userDropdown {
    float: right;
}