@page
@model TeacherEvaluation.Application.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h4 class="row align-input-center add-top-margin">Student Details</h4>
<hr />

<div class="jumbotron jumbotron-details">
    <partial name="_StudentDetailsPartial" model="Model" />
    <div>
        <br />
        <h5><a asp-page="./Index">Back</a></h5>
    </div>
</div>

