@page
@model TeacherEvaluation.Application.Pages.Students.InsertFromFileModel
@{
    ViewData["Title"] = "Insert Students";
    Layout = "_AdminLayout";
}

<h4 class="row align-input-center add-top-margin">Add students from excel file</h4>
<hr />

<partial name="_InsertFromFilePartial" model="Model" />

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}