@page "{handler?}"
@model TeacherEvaluation.Application.Pages.Ranking.ViewModel
@{
    ViewData["Title"] = "Ranking";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}

@section scripts{
    <script src="~/js/ranking.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
}

<h3 class="row align-input-center" style="margin-top: 70px;">Top teachers</h3>
<hr />
<div class="row my-row">
    <div class="col-md-4">
        <select id="question-field" asp-for="QuestionId" asp-items="@Model.LikertQuestions" class="form-control"
                onchange="reset()">
            <option selected disabled hidden>Please select the question</option>
        </select>
    </div>

    <div class="col-md-4">
        <select id="ranking-type-field" class="form-control"
                asp-items="Html.GetEnumSelectList<TeacherEvaluation.BusinessLogic.Enums.RankingType>()"
                onchange="get_top_teachers()">
            <option selected disabled hidden>Please select the taught subject type</option>
        </select>
    </div>
</div>