@page "{handler?}"
@model TeacherEvaluation.Application.Pages.Evaluations.Forms.QuestionsWithOptionAnswer.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_DeanLayout.cshtml";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}

<h4 class="row align-input-center add-top-margin">Create evaluation form with answer options</h4>
<hr />

<partial name="_FormPartial" model="Model.Questions" />

